body
{
	margin: 0;
	padding: 0;
	font-family: verdana;
	background: #fff;
	overflow: hidden;
}
.sidebar
{
	position: fixed;
	top: 0;
	left: -250px;
	background: #262626;
	width: 250px;
	height: 100%;
	transition: .3;
}
.active
{
	left: 0;
}
ul
{
	margin: 0;
	padding: 20px 0;
}
ul li 
{
	list-style: none;
}
ul li a 
{
	padding: 10px 20px;
	color: #fff;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
.sidebarBtn
{
	position: absolute;
	top: 0;
	right: -50px;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	cursor: pointer;
	background: #f5f5f5;
	border: none;
	outline: none;
}
.sidebarBtn span
{
	display: block;
	width: 35px;
	height: 3px;
	background: #262626;
	position: absolute;
	top: 24px;
	transition: .3s;
}
.sidebarBtn span:before
{
	content: '';
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #262626;
	transition: .3s;
}
.sidebarBtn span:after
{
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #262626;
	transition: .3s;
}
.sidebarBtn.toggle span
{
	background: transparent;
}
.sidebarBtn.toggle span:before
{
	top: 0;
	transform: rotate(45deg);
}
.sidebarBtn.toggle span:after
{
	top: 0;
	transform: rotate(-45deg);
}