@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items : center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #070c24;
}
.container{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    background: #fff;
    margin: 20px;
}
.container .imgBox{
    position: relative;
    display:flex;
    justify-content: center;
    align-items:center;
    width: 50%;
    height: 100%;
    background: #006dbc;
}
.container .imgBox:before{
    content: 'Nike';
    position:absolute;
    top: 20px;
    left: 20px;
    color: #000;
    opacity: 0.1;
    font-size:  8em;
    font-weight: 800; 
}
.container .imgBox img{
    position: relative;
    width: 700px;
    transform: rotate(10deg);
    left: -20px;
    top: 80px;
}
.container .details{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}
.container .details h2{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    line-height: 0.8em;
    color: #444;
}
.container .details h2 span{
    font-size: 0.4em;
    text-transform:  uppercase;
    letter-spacing: 2px;
    color: #999;
}
.container .details p{
    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;
}
.container .details h3{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: left;
}
.container .details button {
    background:  #006dbc;
    color: #fff;
    border: none;
    box-shadow:none;
    outline:none;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
    cursor: pointer;
}

@media (max-width:1080px){
    .container{
        height: auto;

    }
    .container .imgBox{
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align:center;
        overflow:hidden;
    }
    .container .imgBox img{
        left: initial;
        max-width: 100%;
        transform: rotate(40deg);
    }
    .details {
        width: 100% !important;
        height: auto;
        padding: 20px;
    }
    .container .details p{
        margin-left:0;
        color: #333;
        font-size: 15px;
    }
}